.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: white;
  width: 1440px;
  height: 100vh;
  /* overflow: hidden; */
  max-width: 100%;
  margin: 0;
}

.container {
  background-color: var(--very-dark-blue);
  max-width: 100%;
  height: 450px;
  margin: 50px 15px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container-rating {
  position: absolute;
  background-color: var(--dark-blue);
  width: 30%;
  height: 70%;
  padding: 20px;
  border-radius: 10px;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--very-dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.star:hover {
  transition: all 0.2s ease-in;
  background-color: var(--light-grey);
}

.star:active {
  -webkit-transition: none;
}

.active {
  color: var(--orange);
  transition: all 0.2s ease-in;
}

.container-rating h2 {
  color: var(--white);
}
.container-rating p {
  color: var(--light-grey);
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 30px;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--very-dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.circle:hover {
  transition: all 0.2s ease-in;
  background-color: var(--light-grey);
}

.circle:active {
  background-color: var(--orange);
  -webkit-transition: none;
}

.submit {
  width: 100%;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  background-color: var(--orange);
  color: var(--white);
  font-family: inherit;
  border-radius: 20px;
  cursor: pointer;
}

.submit:hover {
  transition: all 0.2s ease-in;
  color: var(--orange);
  background-color: var(--white);
}

.submit:active {
  transform: scale(0.98);
}

/* Thank you Box */

.container-thankyou {
  position: absolute;
  font-family: inherit;
  background-color: var(--dark-blue);
  width: 30%;
  height: 70%;
  padding: 20px;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  background-image: url(images/illustration-thank-you.svg);
  background-repeat: no-repeat;
  width: 175px;
  height: 120px;
}

.select {
  background-color: var(--very-dark-blue);
  color: var(--orange);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  margin: 10px;
}

.container-thankyou h2 {
  margin: 10px 0;
}

.container-thankyou .thankyou-msg {
  margin: 0;
  font-size: 13px;
  color: var(--light-grey);
}

.go-back {
  position: absolute;
  font-size: 13px;
  bottom: 1%;
  right: 5%;
  cursor: pointer;
  text-decoration: underline;
}

/* hidden */

.hidden {
  display: none;
}
